<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
  <!-- <div class="navbar navbar-default">
        <ul class="nav navbar-nav"> 
            <li> <a href ="/"> Home </a> </li>
            <li> <a href ="/inscriptionUtilisateur"> S'inscrire en tant qu'utilisateur </a> </li>
            <li> <a href ="/inscriptionPro"> S'inscrire en tant que professionnel</a> </li>       
            <li> <a href ="/connexion"> Se connecter </a> </li>
            <li> <a th:href ="${'/professionnel/profilPro?id='+{id}}"> Profil PRO (a retirer) </a> </li>            
        </ul>
  </div> -->
  <div th:insert="/Navbar::navbar">  </div>

  
  <div class="container mt-2">
      <div class="card">
          <div class="card-header">Liste de Professionnel</div>
          <div class="card-body">
              <form method="get" th:action="@{liste}">
                  <label>Recherche par Nom du Professionnel</label>
                  <input type="text" name="nom" th:value="${nom}">
                  <button type="submit" class="btn btn-primary">Chercher</button>
              </form>
              
              <form th:action="@{disponibilite}" method="get">
                <div>
                    <!-- <label for="  ">Date of birth:</label> -->
                    <input name="date" type="date" th:value="${dateActu}" th:min="${ #temporals.format( T(java.time.LocalDate).now(), 'YYYY-MM-dd') }"/>
                    
                    <input type="hidden" name="id" th:value="${id}"/>
                    <!-- <input type="hidden" name="date" th:value="${datePlus1}"/> -->
                    <button type="submit" class="button">Submit</button>
                </div>
              </form>
              
              <table class="table">
                  <thead>
                    <!-- <div data-th-text="${ #temporals.format( T(java.time.LocalDate).now(), 'dd MMMM YYYY') }"></div> -->
                  <tr>
                      <!-- <th>ID</th> -->
                      <th>date</th>
                      <th>heure</th>
                      <th>prendre RDV</th>
                  </tr>
                  </thead>
                  <tbody>
                    <!-- object pour recup 1 object sans liste surement -->
                  <td>Pas de disponibilite pour ce jour</td>
                  </tbody>
              </table>
              <ul class="nav nav-pills">
                  <li th:each="page,status:${pages}">
                      <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                         th:text="${status.index}"
                         th:href="@{index(page=${status.index}, keyword=${keyword})}"
                      ></a>
                  </li>
              </ul>
          </div>
          <div>
            <form method="get" th:action ="@{/disponibilite}" >
              <input type="hidden" name="id" th:value="${id}"/>
              <input type="hidden" name="date" th:value="${dateMoins1}"/>
              <button type="submit" class="btn btn-primary"> <= </button>
            </form>
            <form method="get" th:action ="@{/disponibilite}" >
              <input type="hidden" name="id" th:value="${id}"/>
              <input type="hidden" name="date" th:value="${datePlus1}"/>
              <button type="submit" class="btn btn-primary"> => </button>
          </form>
        </div>
      </div>
  </div>

</body>
</html>

