<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>


  <div th:insert="/Navbar::navbar">  </div>

  <div class="container mt-2">
      <div class="card">
          <div class="card-body">

            <form method="get" th:action="@{/disponibilite/prendreRDV}">
                <label>Rensegnez votre nom</label>
                <input type="text" name="nom" th:value="${nom}">
                <br>
                <label>Rensegnez votre prenom</label>
                <input type="text" name="prenom" th:value="${prenom}">
                <br>
                <input type="hidden" name="pro_id" th:value="${pro_id}"/>
                <input type="hidden" name="date" th:value="${date}"/>
                <input type="hidden" name="heure" th:value="${heure}"/>
                <button type="submit" class="btn btn-primary">prendreRDV</button>
            </form>
            
            
          </div>
      </div>
  </div>

</body>
</html>

